*{
margin:0;
padding:0;
border:0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color:rgb(16, 62, 100);
    background-color: rgba(219, 236, 231, 0.945);
}
#logo{
    float: left;
  font-size: 280%;
  margin-left: 15px;
  padding: 35px;
  font-weight: bold;
  background-color: rgba(90, 118, 153, 0.678);
  border-radius: 45px 0 45px 0;
}
#logo,
h1 {
  color: black;
  font-style: italic;
}
/* navigation links */

#navbar {
  float: right;
  margin-right: 15px;
  font-size: 100%;
  letter-spacing: 1px;
  background-color: rgba(91, 124, 161, 0.678);
  padding: 35px;
  border-radius: 45px 0 45px 0;
}

#logo,
#navbar {
  line-height: 10px;
}

#navbar li {
  float: left;
  list-style-type: none;
  margin-right: 10px;
}

#navbar a {
  text-decoration: none;
  color: inherit;
  font-style: italic;
}

#navbar a:hover {
  border-bottom: 3px solid #032a4ed7;
}

.active {
  border-bottom: 3px solid #032a4ed7;
}

/* cover video */

#bkd-outer {
  height: 500px;
  width: 100%;
  overflow: hidden;
  position: relative;
  opacity:0.5;
}

/* Cover text  / Why rent with us? */

#cover-text{
  text-align: center;
  font-style: italic;
  padding: 20px;
}

#cover-text h2 {
  padding: 20px;
}

/* Why us question */
#why-us{
  text-align: center;
  font-style: italic;
  padding: 30px;
}

#why-us h2 {
  padding: 20px;

}

/* Our Cars categories */

#our-cars{
  text-align: center;
  font-style: italic;
  padding: 30px;
}
#our-cars h2{
  padding: 20px; 
}

#categories h2{
  text-align: center;
}
.content-left {
  width: 45%;
  text-align: right;
  padding: 50px;
  margin-left: -10px;
}
.content-left img{
  margin:-100px;
  margin-top:-200px;
  margin-left:600px;
  border-radius:45px 0 45px 0;

}
.content-right {
    width: 50%;  
    margin: 100px 20px 100px auto;
    text-align: left;

}
.content-right img{
  margin-left:-550px;
  margin-top:-50px;
  border-radius:45px 0 45px 0;

}

#content-right , p{
  padding:20px;
  margin-right:10px;
}



