* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(16, 62, 100);
    background-color: rgb(239, 247, 244);
}

a {
    text-decoration: none;
    font-weight: bold;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.logo-container {
    width: 53%;
    padding: 16px 32px;
}

.nav-container {
    width: 35%;
    min-width: 340px;
    text-align: center;
    padding-top: 20px;
}

.logo-container,
.nav-container {
    background: linear-gradient(to top, rgb(239, 247, 244), rgba(91, 124, 161, 0.678));
    border-radius: 45px 0 45px 0;
    height: 70px;
    max-height: 70px;
    box-sizing: border-box;
    overflow: hidden;
}

.logo-container a {
    font-size: 150%;
    font-weight: bold;
    font-style: italic;
    color: #000;
}

/* navigation links */

.nav-container li {
    font-size: 16px;
    display: inline-block;
    list-style-type: none;
    margin-right: 10px;
}
.nav-container a:hover {
    border-bottom: 3px solid #032a4ed7;
}

.active {
    border-bottom: 3px solid #032a4ed7;
}

/* cover video */

#bg-outer {
    height: 70vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    opacity: 0.5;
    margin-top: 20px;

}

section {
    max-width: 1590px;
    margin: auto;
}

#bg-outer video {
    width: 100%;
}

#bg-outer .top-gradient {
    width: 100%;
    height: 20%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background: linear-gradient(to top, rgba(239, 247, 244, 0), rgba(239, 247, 244, 1));
}

#bg-outer .bottom-gradient {
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    background: linear-gradient(to bottom, rgba(239, 247, 244, 0), rgba(239, 247, 244, 1));
}

/* Cover text  / Why rent with us? */

#cover-text {
    text-align: center;
    font-style: italic;
    padding: 20px;
}

#cover-text h2 {
    padding: 20px;
}

/* Why us question */
#why-us {
    text-align: center;
    font-style: italic;
    padding: 30px;
}

#why-us h2 {
    padding: 20px;

}

/* Our Cars categories */

#our-cars {
    text-align: center;
    font-style: italic;
    padding: 30px;
}

#our-cars h2 {
    padding: 20px;
}

#categories {
    padding: 10px;
}

#categories h2 {
    text-align: center;
}

.content-left {
    position: relative;
    width: 50%;
    text-align: right;
    padding: 50px;
    box-sizing: border-box;
    margin-top: 50px;
}

.content-left .image {
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 45px 0 45px 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url("../images/luxury-img.jpg");
}

.content-right {
    position: relative;
    width: 50%;
    text-align: left;
    padding: 50px;
    box-sizing: border-box;
    margin-left: 50%;
    margin-top: 50px;
}

.content-right .image {
    position: absolute;
    top: 0;
    right: 100%;
    border-radius: 45px 0 45px 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url("../images/off-road-img.jpg");
}

.image {
    background-size: cover;
    background-position: center;
}

/* footer */

footer {
    height: 200px;
    background-color: rgba(90, 118, 153, 0.678);
    background: linear-gradient(to top, rgba(91, 124, 161, 0.678), rgb(239, 247, 244));

}

.social-networks {
    text-align: center;
    height: 60px;
}

.social-networks li {
    display: inline;

}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
}

.address{
    text-align: center;
    color: rgb(3, 16, 27);
    margin-top:80px;

}

/* Our Cars Page  */

.gallery {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.photo-container {
    position: relative;
    margin: 2.5%;
    width: 20%;
    height: 150px;
    overflow: hidden;
    border: 3px solid rgba(90, 118, 153, 0.678);
    box-sizing: border-box;
}

/* CREDIT: https://www.smashingmagazine.com/2013/08/absolute-horizontal-vertical-centering-css/ */
.photo-container img {
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-container span.photo-caption {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(90, 118, 153, 0.678);
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    transition: font-size 0.3s ease-in-out, line-height 0.3s ease-in-out;
}

.photo-container:hover span.photo-caption {
    font-size: 20px;
    line-height: 25px;
}

/* Luxury cars*/

#lux-photos {
    text-align: center;
    padding: 30px;
    margin-top: 50px;
}


/* Off road cars */

#offroad-photos {
    text-align: center;
    padding: 30px;
}

/* Manage booking section */
#manage {
    text-align: center;
    padding: 30px;
}

.sign-logo {
    display: block;
    color: #fff;
    margin-bottom: 40px;
}

.signup-form{
    margin: 0 auto;
    color: rgb(239, 247, 244);
    background-color: rgba(90, 118, 153, 0.678);
    width: 80%;
    padding: 20px 30px;
    border-radius: 30px;
    text-align: center;
}
.form-group {
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-left: 30%;
}
.form-group .form-control {
    width: 50%;
    margin: 0;
    padding: 0;
}
.form-control {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-control input {
    width: 50%;
    border-radius: 8px;
    height: 30px;
    font-size: 16px;
    font-weight: normal;
    padding: 0 16px;
    outline: none;
    box-sizing: border-box;
}

.form-control input:focus, .form-control input:active {
    border: 2px solid #000;
}

.form-control label {
    width: 30%;
    text-align: right;
    padding-right: 15px;
    color:#032a4ed7;
}
.form-control .submit {
    margin-left: calc(30% + 15px);
    width: 50%;
    padding: 8px;
    background-color:#032a4ed7;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
}
.form-control .submit:hover {
    background-color: rgba(91, 8, 99, 0.918);
    cursor: pointer;
}
/* Media  */

@media(max-width:768px) {
    .logo-container {
        width: 230px;
        padding: 20px 16px;
    }
    .nav-container {
        min-width: 290px;
        padding: 20px 10px;
    }
    .logo-container a {
        font-size: 100%;
    }
    .nav-container li {
        font-size: 14px;
        margin-right: 5px;
    }

    .content-left,
    .content-right {
        position: relative;
        width: 100%;
        text-align: center;
        background-color: rgba(255, 255, 255, .7);
        margin: 0 auto;
        margin-top:30px;
        border-radius: 45px 0 45px 0;
    }

    .content-left .image,
    .content-right .image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .image {
        z-index: -1;
    }

    .photo-container {
        margin: 1.5%;
        width: 30%;
        height: 100px;
    }
    
    .photo-container span.photo-caption {
        font-size: 12px;
        line-height: 16px;
    }
    
    .photo-container:hover span.photo-caption {
        font-size: 16px;
        line-height: 20px;
    }
}

@media(max-width:567px) {
    header {
        flex-direction: column;
    }
    
    .logo-container, .nav-container {
        width: 100%;
        max-width: 100%;
        min-width: auto;
        text-align: center;
        height: 40px;
        padding: 10px 0;
    }
    
    .logo-container a {
        font-size: 100%;
    }
    .nav-container li {
        font-size: 12px;
        margin-right: 3px;
    }
    .signup-form {
        padding: 20px 10px;
    }
    .form-group {
        width: 100%;
        margin: 0;
        justify-content: space-between;
    }
    .form-group .form-control {
        width: 40%;
        margin: 10px;
    }
    .form-control {
        margin: 10px;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .form-control input {
        width: 100%;
    }
    
    .form-control label {
        width: 100%;
        text-align: left;
        margin-bottom: 5px;
    }
    .form-control .submit {
        margin: auto;
        width: 50%;
    }
}